/* ---- Reset Básico ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding-top: 40px;
  padding: 20px;
  height: 100%;
  background-color: #ffffff;
  overflow: transparent;
}


.button-page{
  background-color: #299DF3;
  margin: 10px 10px 0px 10px;
  padding: 20px;
  width:110px;
  height: 60px;
  color: white;
}

.button-next-page{
  background-color: #D8D7D7;
  margin: 10px 10px 0px 10px;
  padding: 20px;
  width: 110px;
  height: 60px;
}

.button-next-page:hover{
  background-color: #19365F;
  cursor: pointer;
}

.button-page:hover {
  background-color: #1A6F9C;
  cursor: pointer;
}

.template-container{
  height: 100%;
}

.header {
  display: flex;
  padding-left: 30px;
  color: white;
}

/*
.imgLogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/

.backTemplate {
  background-color: #40BCD8; 
  Box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  border-radius: 25px;
  padding: 60px;
  /*margin: 180px 50px 40px;*/
  display: flex;
  position: relative;
  justify-content: space-between; /*faz questao do espacamente entre a caivxa de cima e baixa estejam a mesma diferenca*/
  gap: 200px; /*o gap entre as colunas da direta e da esquerda*/
  z-index: 1;
}

button {
  cursor: pointer;
  border-radius: 12px;
  border: none;
  padding: 7.5px;
  background-color: #156082;
  color: white;
}



.global-container { /* ter acerteza que esta em cima do skerwer */
  z-index: 1; 
  min-height: 80%;
}

.skewed {
  position: absolute;
  top: 0;
  left: +61vw; /*view widht*/
  width: 30%;
  height: 100vh; /*view height*/
  background-color: #4697D2;
  transform: skewX(-8deg); /* tilta a imagem */
  z-index: 0; /*usado para o overlay*/
  box-shadow: 0px 0px 20px black ;
}

.logo {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.imgLogo {
  height: 30px;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem 3rem;
    background: linear-gradient(135deg, #5ac8fa 0% , #299df3 70%,#1579d0 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 25px;
    overflow: transparent;
}

.main-content::-webkit-scrollbar {
  width: 8px;
  background: transparent; /* track */
}

.main-content::-webkit-scrollbar-thumb {
  background-color: transparent; /* thumb */
}

/* Firefox */
.main-content {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/*select section styles*/
.select_section select,
::picker(select) {
  appearance: base-select;
}

select {
  flex: 1;
}
select {
  border: 1px solid #3a3a3a;
  background: rgb(216, 215, 215, 0.9);
  padding: 10px;
  transition: 0.4s;
}

select:hover,
select:focus {
  background: rgb(216, 215, 215, 0.9);
  cursor: pointer;
}
select::picker-icon {
  color: #999;
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
}
option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  
  border: 2px solid rgb(216, 215, 215, 0.9);
  background: #eee;
  padding: 10px;
  transition: 0.4s;
}

option:nth-of-type(odd) {
  background: #fff;
}

option:hover,
option:focus {
  background: rgb(216, 215, 215, 0.9);
  cursor: pointer;
}
/*select section styles end*/

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons button {
    background-color: #0077ff;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #005fcc;
}

.sidebar {
    min-width: 240px;
    max-width: 265px;
    background: linear-gradient(135deg, #5ac8fa 0% , #299df3 30%,#1579d0 100%);
    border-right: 2px solid #ccc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    height: 96vh;
    margin-left: 0;
    margin: 20px;
    border-radius: 25px;
    position: fixed;
}

.sidebar .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.nav-links {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-links li {
    margin: 1rem 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-links a:hover {
    color: black;
}

.layout-container {
    display: flex;
    height: 96vh;
    overflow: hidden;
    width: 85%;
    border-radius: 25px;
    overflow: transparent;
  }

.grid-container {
    flex: 1;
    overflow-y: auto;
    padding: 2rem 3rem;
    background: linear-gradient(135deg, #5ac8fa 0% , #299df3 70%,#1579d0 100%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px; 
    align-content: flex-start; 
    height: 96vh;
    border-radius: 25px;
    grid-column: auto;
    padding-bottom: 2rem;
}

.boxes {
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease;
    width: 100%; 
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}