@import url('styleGlobal.css');

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 150px; /* espaco entre a caixa da imagem e da alerta */
}

.perfilImg {
  background-color: rgba(255, 255, 255, 0.65);
  height: 300px;
  width: 420px;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Alertas {
  background-color: rgba(255, 255, 255, 0.65);
  height: 300px;
  width: 420px;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.perfilImg img {
  height: 80%;
  object-fit: contain;
}

.perfilInfo {
  background-color: rgba(255, 255, 255, 0.65);
  flex: 1;
  border-radius: 25px;
  padding: 20px;
}

.perfil-content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem 3rem;
    background-image: url('../photos/background.png');
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 25px;
}
