@import url('styleGlobal.css');

/*--- LOGIN PAGE ---*/

.skewed {
  position: absolute;
  top: 0;
  left: +15vw; /*view widht*/
  width: 30%;
  height: 100vh; /*view height*/
  background-color: #4697D2;
  transform: skewX(-8deg); /* tilta a imagem */
  z-index: 0; /*usado para o overlay*/
  box-shadow: 0px 0px 20px black ;
}

.logo {
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo img {
    height: 40px;
}

.login-box {
  position: absolute;
  background-color: rgb(216, 215, 215, 0.75);
  top: 25vh;
  left: 37vw;
  padding: 2%; /* cleaner shorthand */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 27vw; /* Add a fixed width to control form size */
  box-sizing: border-box;
  z-index: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login-form input {
  background: white;
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  border: none;
  box-sizing: border-box;
  font-size: 18px;
}

/*login button*/
#login-form-submit {
  width: 100%;
  padding: 14px; /* better match visually */
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #1177ED;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  opacity: 1;
  font-style: bold;
}

.login-form-field::placeholder {
  color: black;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
  color:black;
}