@import url('styleGlobal.css');

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 150px; /* espaco entre a caixa da imagem e da alerta */
}

.perfilImg {
  background-color: rgba(255, 255, 255, 0.65);
  height: 420px;
  width: 420px;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Alertas {
  background-color: rgba(255, 255, 255, 0.65);
  height: 275px;
  width: 420px;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.perfilImg img {
  height: 80%;
  object-fit: contain;
}

.perfilInfo {
  background-color: rgba(255, 255, 255, 0.65);
  flex: 1;
  border-radius: 25px;
  padding: 20px;
}

.skewed {
  position: absolute;
  top: 0;
  left: +61vw; /*view widht*/
  width: 30%;
  height: 100vh; /*view height*/
  background-color: #4697D2;
  transform: skewX(-8deg); /* tilta a imagem */
  z-index: 0; /*usado para o overlay*/
  box-shadow: 0px 0px 20px black ;
}

.perfil-container {
  position: relative; /* Creates a stacking context */
  z-index: 1;          /* Ensures it's above .skewed */
}

.navbar .btn {
  min-width: 110px;
  height: 60px;
  text-align: center;
  line-height: 30px;
}