@import url('styleGlobal.css');

#generoChart, #circulo, #cargoChart {
  position:relative;
  width: 500px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid #aaa;
}

.chart-container {
  width: 600px;
  height: 400px;
  margin: 30px auto;
  border: 1px solid #ccc;
  background-color: #fff;
}
