@import url('styleGlobal.css');


.perfilImg {
  background-color: #E2E2E2;
  width: 300px;
  height: 265px;
  margin: 10px;
  border-radius: 25px;
  display: flex;
}

.perfilImg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.perfilInfo {
  background-color: #E2E2E2;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  align-items: center;
}

.Alertas {
  background-color: #E2E2E2;
  width: 300px;
  height: 265px;
  margin: 10px;
  border-radius: 25px;
  padding: 10px;
}