@import url('styleGlobal.css');

.container_atualizarPerfil {
    position: flex;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2%; /* cleaner shorthand */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%; /* Add a fixed width to control form size */
    box-sizing: border-box;
    z-index: 1;
}

.atualizarPerfil-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.atualizarPerfil-form input {
  background: #FFFFFF;
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  border: none;
  box-sizing: border-box;
  font-size: 18px;
  opacity: 1;
}

#atualizarPerfil-form-submit {
  width: 100%;
  padding: 14px; /* better match visually */
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #19365F;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  opacity: 1;
  font-style: bold;
}
