@import url('styleGlobal.css');


/* Container base para gráficos e boxes, para tamanho e alinhamento iguais */
.chart-container, #generoChart, #nacionalidadeChart, #cargoChart, 
#ageChartContainer, #tempoInicioChartContainer,#remuneracaoChartContainer,#moradaFiscalChart, .average-age-box, .average-tempo-inicio,.average-remuneracao {
  width: 600px;
  height: 420px;          
  margin: 30px auto;      /* centraliza horizontalmente com margem vertical */
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  padding: 20px;
  box-sizing: border-box; /* para padding não aumentar o tamanho total */
  border: 1px solid #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

/* Apenas para a average-age-box ajustar o height e texto */
/* Applies to both boxes */
.average-age-box,
.average-tempo-inicio, .average-remuneracao{
  height: auto;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  color: #333;
  text-align: center;
}

.average-age-box h2,
.average-tempo-inicio,.average-remuneracao h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #000;
}

.average-age-box p,
.average-tempo-inicio,.average-remuneracao p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}



/* Ajustes para os elementos gráficos que precisam tamanho exato */
#generoChart, #nacionalidadeChart, 
#cargoChart,#moradaFiscalChart {
  height: 400px; /* para gráficos com altura fixa */
  padding: 10px 20px;
  border: 1px solid #aaa;
  background-color: #fff;
  box-shadow: none;
  margin: 30px auto;
}


#ageChartContainer, #tempoInicioChartContainer, #remuneracaoChartContainer{
  height: 405px; /* para gráficos com altura fixa */
  max-width: 80%;
  padding: 10px 20px;
  border: 1px solid #aaa;
  background-color: #fff;
  box-shadow: none;
  margin: 30px auto;
}


