@import url('styleGlobal.css');

h2 {
    color: Black;
    margin-bottom: 10px;
    margin-top: 0;
}

.criar-voucher{
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin-bottom:20px;
}


/* Container da lista completa */
.tabela-voucher {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

/* Cabeçalho e linhas */
.linha-voucher {
    display: flex;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: background-color 0.2s;
}

/* Cabeçalho específico */
.linha-voucher.cabecalho {
    font-weight: bold;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
}

/* Link sem decoração */
.linha-link {
    text-decoration: none;
    color: inherit;
}

/* Hover para linhas */
.linha-link:hover .linha-funcionario {
    background-color: #e9f0ff;
}

/* Colunas */
.coluna {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Colunas com larguras específicas */
.mecanografico  { flex: 2; }
.descricao      { flex: 2; }
.tokenVoucher   { flex: 3; }
.emitente       { flex: 1; }
.dataExpiracao  { flex: 1; }


.dropdown-voucher{
    background-color: rgba(93, 179, 219, 0.5);
    border-radius: 6px;
    margin-bottom: 0px;
    margin-top: 10px;
}