/* ---- Reset Básico ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  margin: 0;
  background-color: white;
}


.button-page{
  background-color: #299DF3;
  margin: 10px 10px 0px 10px;
  padding: 20px;
  width:110px;
  height: 60px;
  color: white;
}

.button-next-page{
  background-color: #D8D7D7;
  margin: 10px 10px 0px 10px;
  padding: 20px;
  width: 110px;
  height: 60px;
}

.button-next-page:hover{
  background-color: #19365F;
  cursor: pointer;
}

.button-page:hover {
  background-color: #1A6F9C;
  cursor: pointer;
}

.header {
  display: flex;
  padding-left: 30px;
  color: white;
}


.imgLogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backTemplate {
  background-color: #19365F; 
  padding : 20px; 
  margin: 0px 20px 20px 20px;
  border-radius: 25px;
}

.backTemplate2 {
  background-color: #299DF3; 
  border-radius: 25px;
  padding: 10px;
  display: flex;
}

button {
  cursor: pointer;
  border-radius: 12px;
  border: none;
  padding: 7.5px;
  background-color: #156082;
  color: white;
}

.perfilImg {
  background-color: #E2E2E2;
  width: 300px;
  height: 265px;
  margin: 10px;
  border-radius: 25px;
  display: flex;
}

.perfilImg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.perfilInfo {
  background-color: #E2E2E2;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  align-items: center;
  display: flex;
}

.Alertas {
  background-color: #E2E2E2;
  width: 300px;
  height: 265px;
  margin: 10px;
  border-radius: 25px;
  padding: 10px;
}

.button-next-page .links {
  color: black;
  text-decoration: none;
}

.button-page .links {
  color: white;
  text-decoration: none;
}

.equipas{
  background-color: #E2E2E2;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  align-items: center;
}

.equipasContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px; /* espaço entre as caixas */
  margin-bottom:20px;
}