@import url('styleGlobal.css');


h2 {
    color: white;
}
/* Container da lista completa */
.tabela-funcionarios {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

/* Cabeçalho e linhas */
.linha-funcionario {
    display: flex;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: background-color 0.2s;
}

/* Cabeçalho específico */
.linha-funcionario.cabecalho {
    font-weight: bold;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
}

/* Link sem decoração */
.linha-link {
    text-decoration: none;
    color: inherit;
}

/* Hover para linhas */
.linha-link:hover .linha-funcionario {
    background-color: #e9f0ff;
}

/* Colunas */
.coluna {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Colunas com larguras específicas */
.selecao        { flex: 1; }
.mecanografico  { flex: 2; }
.cargo          { flex: 2; }
.nome           { flex: 3; }
.nif            { flex: 1; }
.email          { flex: 3; }
.aniversario    { flex: 1; }

.button-export{
    width: 100px;
    height:50px;
    cursor: pointer;
    text-align:center;
    align-content: center;
    border-radius: 12px;
    border: none;
    /*padding: 7.5px;*/
    background-color: #156082;
    color: white;
    margin-top:10px;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
}